<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Oficina</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
  <script src="/static/js/index.js"></script>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
 <div class="topo">
    <img src="/static/img/iconAgendamento.png" alt="Ícone" class="logo">
      <h1>Sistema de Oficina</h1>
<button class="novo" onclick="novoAgendamento()">+ Novo Agendamento</button>
</div>

  <h2>Últimos Agendamentos</h2>
  <table>
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Veículo</th>
        <th>Serviço</th>
        <th>Horario</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody id="agendamentosTable">
    </tbody>
  </table>
</body>
</html>